@use "./_variable" as *;
@use "./_font" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;
@use "./svg" as *;
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    -webkit-font-smoothing: antialiased; //アンチエイリアス設定
    -moz-osx-font-smoothing: grayscale; //アンチエイリアス設定
    color: $font-black;
    display: flex;
    flex-direction: column;
    background-color: #ffeed4;
    z-index: 1;
    @include SunSerif;
    // font-feature-settings: "palt";
    font-size: clamp(1.2rem, calc($base-vw * 1vw) + calc($slice * 1px), 1.6rem);
    // user-select: none; //USER選択禁止
    @include tb {
        font-size: 1.4vw;
    }
    @include sp {
        font-size: 3.6vw;
    }
    // 画像右クリック・ドラッグ禁止
    img {
        width: 100%;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        pointer-events: none;
    }
    @media (min-width: 768px) {
        a[href*="tel:"] {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }
    }
    br {
        &.pc {
            @include sp {
                display: none;
            }
        }
        &.sp {
            display: none;
            @include sp {
                display: inline;
            }
        }
    }
}
html.modal-open,
body.modal-open {
    overflow: hidden;
}

/*==========================================================
	共通
==========================================================*/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
    flex: 1;
}
section,
article {
    width: 100%;
    position: relative;
    font-size: 1em;
}
form {
    position: relative;
    width: 100%;
    font-size: 1em;
}
/*================================
入力フォーム
--------------------------------*/
// 入力タグ初期化
input,
select,
textarea {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
// 入力フォームデフォルト装飾
select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
    flex-grow: 1;
    font-size: 1.6rem;
    padding-inline: 0.8em;
    height: 4.4rem;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    letter-spacing: 0.04em;
    border: 1px solid #e2e0db;
    transition: 0.2s ease-out;
    &::placeholder {
        color: #a8a8a8;
    }
    &:focus {
        border: 1px solid $hover-blue;
    }
    &:active {
        border: 1px solid $hover-blue;
        background-color: #e6edf7;
    }
    &:hover {
        border: 1px solid $hover-blue;
        transition: 0.3s ease-out;
    }
}
input[type="date"] {
    background-color: #fff;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    background-color: #fff;
    // min-height: 11lh;
    field-sizing: content;
    padding-block: 0.8em;
}
svg {
    fill: transparent;
    stroke: transparent;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: inherit;
}

/*==========================================
    header(ヘッダー)
------------------------------------------*/
header {
    position: relative;
    font-size: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    .item-logo {
        padding: 3px;
        display: block;
        grid-row: span 2;
        span {
            display: block;
            width: 141px;
            height: 136px;
            background-color: $font-black;
            @include flex-center;
            img {
                width: 8rem;
                filter: brightness(0) invert(100);
            }
        }
    }
    .box-head {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: inherit;
        align-items: center;
        padding-right: 14px;
        .page-check {
            font-size: inherit;
            display: flex;
            color: #fff;
            background-color: $font-black;
            border-radius: 4px;
            height: 38px;
            display: flex;
            align-items: center;
            padding-inline: 1.6em;
            margin-left: 2rem;
            transition: 0.3s ease-out;
            span {
                position: relative;
                font-size: FZ(14);
                font-weight: 600;
                padding-left: 1.8em;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    translate: 0 -50%;
                    width: 18px;
                    @include svg-icon-pc("ffffff");
                    transition: 0.3s ease-out;
                }
            }
            &:hover {
                color: $font-black;
                background-color: FFD045;
                span {
                    &::before {
                        @include svg-icon-pc("403726");
                    }
                }
            }
            &:active {
                color: #fff;
                background-color: $font-black;
                span {
                    &::before {
                        @include svg-icon-pc("ffffff");
                    }
                }
            }
        }
        h1 {
            font-size: inherit;
            color: #fff;
            background-color: var(--key-color);
            display: flex;
            padding: 2px 2px 2px 2em;
            height: 38px;
            gap: 0 1em;
            border-radius: 100vmax;
            span {
                position: relative;
                font-size: FZ(14);
                font-weight: 300;
                align-self: center;
                padding-left: 2em;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    translate: 0 -50%;
                    width: 18px;
                    @include svg-icon-person("ffffff");
                }
            }
            button {
                background-color: #fff;
                color: var(--key-color);
                font-size: FZ(14);
                font-weight: 300;
                border-radius: 100vmax;
                width: 106px;
            }
        }
    }
    nav {
        display: grid;
        padding-bottom: 3px;
        font-size: inherit;
        a {
            position: relative;
            font-size: inherit;
            @include flex-center;
            height: 8rem;
            span {
                font-size: FZ(16);
                font-weight: 600;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                @include top-radius($radius8);
                transition: 0.3s ease-out;
                background-color: #fff;
                z-index: -1;
            }
            &.is-active {
                color: #fff;
                &::before {
                    height: calc(100% + 3px);
                    background-color: $main-orange;
                }
            }
            &:not(.is-active) {
                &:hover {
                    &::before {
                        background-color: #fffbf5;
                    }
                }
                &:active {
                    &::before {
                        background-color: #fff;
                    }
                }
            }
        }
    }
    &.area-master {
        --key-color: #ef5f6e;
        nav {
            grid-template-columns: repeat(7, 1fr);
            gap: 0 3px;
        }
    }
}
/*==========================================================
    box-footer
==========================================================*/
.box-footer {
    position: relative;
    font-size: inherit;
    display: flex;
    gap: 0 2em;
    align-self: flex-end;
    align-items: center;
    margin-top: 2em;
    justify-content: flex-end;
    .link-terms {
        font-size: FZ(14);
        font-weight: 300;
    }
    .page-top {
        width: 36px;
        aspect-ratio: 1;
        background-color: $font-black;
        position: relative;
        border-radius: 50%;
        transition: 0.3s ease-out;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 9px;
            @include svg-icon-arrow-top(fff);
        }
        &:hover {
            background-color: #655e50;
        }
    }
}
/*==========================================================
    モーダルウィンドウ
==========================================================*/
.modal-article,
.modal-alert {
    display: none;
    z-index: 100000;
    &.is-active {
        display: block;
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100dvh;
        @include flex-center;
        padding: 2rem;
        .inner-modal {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: $radius20;
            @include drop-shadow;
            font-size: inherit;
            overflow-y: scroll;
            .box-title {
                padding: 2.7rem;
                display: flex;
                justify-content: space-between;
                font-size: inherit;
                border-bottom: 1px solid $border-gray;
                width: 100%;
                p {
                    font-size: FZ(20);
                    font-weight: 600;
                }
                .btn-top-close {
                    position: relative;
                    @include btn-close;
                }
            }
        }
    }
}
// 黒背景記事用
.modal-article {
    &.is-active {
        background-color: rgba($font-black, 0.4);
        .inner-modal {
            max-width: 98rem;
            .box-details {
                position: relative;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-self: center;
                padding: 5rem 5rem 8rem;
                .wrap-details {
                    font-size: inherit;
                    max-width: 68rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem 0;
                    .item-date {
                        font-size: FZ(14);
                        font-weight: 600;
                    }
                    .item-image {
                        width: 100%;
                    }
                    .item-text {
                        font-size: inherit;
                        display: flex;
                        flex-direction: column;
                        p {
                            font-size: FZ(16);
                            font-weight: 300;
                            text-align: justify;
                            line-height: 1.6em;
                        }
                    }
                }
                .btn-bottom-close {
                    @include main-button("cancel");
                    width: 16rem;
                    height: 4rem;
                    font-size: FZ(14);
                    align-self: center;
                    margin-top: 7rem;
                }
            }
        }
    }
}
// アラート用
.modal-alert {
    &.bg-orange {
        background-color: rgba($main-orange, 0.4);
    }
    &.bg-black {
        background-color: rgba($font-black, 0.4);
    }
    &.is-active {
        .inner-modal {
            max-width: 64rem;
            .box-details {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 4rem 2rem;
                p {
                    font-size: FZ(16);
                    font-weight: 300;
                }
                .box-btn {
                    position: relative;
                    font-size: inherit;
                    display: flex;
                    gap: 0 2.4rem;
                    margin-top: 4rem;
                    button {
                        width: 16rem;
                        height: 4rem;
                        &.btn-cancel {
                            @include main-button("cancel");
                        }
                        &.btn-confirm {
                            @include main-button("confirm");
                        }
                    }
                }
            }
        }
    }
}
