/*===============================
    デコレーションmixin
===============================*/
@use "./variable" as *;
@use "./_font" as *;
@use "./svg" as *;

/*=========================================
ドロップシャドウ
-----------------------------------------*/
@mixin drop-shadow {
    box-shadow: 2px 2px 3px 0 rgba(53, 45, 32, 0.15);
}

/*=========================================
中央寄せ
-----------------------------------------*/
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
/*=========================================
×ボタン
-----------------------------------------*/
@mixin btn-close {
    display: block;
    width: 1.4rem;
    aspect-ratio: 1;
    align-self: center;
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background-color: $font-black;
    }
    &::before {
        rotate: -45deg;
    }
    &::after {
        rotate: 45deg;
    }
}

/*=========================================
確定・キャンセル等ボタン
-----------------------------------------*/
@mixin main-button($type: confirm) {
    @include flex-center;
    border-radius: 8px;
    transition: 0.3s ease-out;
    @if $type == "confirm" {
        background-color: $confirm-blue;
        color: #fff;
        &:hover {
            background-color: #3146a9;
        }
        &:active {
            background-color: #395bbe;
        }
    } @else if $type == "clear" {
        background-color: #696969;
        color: #fff;
        &:hover {
            background-color: $font-black;
        }
        &:active {
            background-color: #696969;
        }
    } @else {
        background-color: #fff;
        border: 1px solid $font-black;
        &:hover {
            background-color: $hover-bg-blue;
        }
        &:active {
            background-color: #fff;
        }
    }
}

/*================================
 チェックボックスボタン
--------------------------------*/
@mixin item-check-box {
    input[type="checkbox"] {
        position: absolute;
        inset: 0;
        z-index: +2;
        &.read-only {
            pointer-events: none;
        }
    }
    label {
        position: relative;
        display: grid;
        place-items: center;
        position: relative;
        font-size: FZ(14);
        color: #696969;
        padding: 0.5em 0.8em;
        transition: 0.3s ease-out;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #ceccca;
            border-radius: 100vmax;
            z-index: -1;
            transition: 0.3s ease-out;
        }
    }
    input[type="checkbox"]:checked + label {
        color: #fff;
        &::before {
            background-color: $hover-blue;
        }
    }
    &:hover {
        label {
            &::before {
                border: 1px solid $hover-blue;
            }
        }
    }
    &:active {
        label {
            &::before {
                background-color: $hover-bg-blue;
                border: 1px solid $hover-blue;
            }
        }
    }
}

/*================================
 セレクトボックス(マスター)
--------------------------------*/
@mixin select-list-master {
    // --boxHeight: 6rem;
    // width: 8.2em;
    height: var(--boxHeight);
    background-color: #fff;
    font-size: 1em;
    position: relative;
    transition: 0.3s ease-out;
    z-index: +1;
    &:hover {
        .select_label-placeholder {
            border: 1px solid $hover-blue;
        }
    }
    .select_label {
        display: block;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.4, 0.25, 0.3, 1);
        height: 0;
        font-size: FZ(14);
        line-height: var(--boxHeight);
        overflow: hidden;
        background-color: #fff;
        cursor: pointer;
        @include sp {
            font-size: 3.6vw;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            right: 0.8em;
            width: 0.7em;
            @include svg-icon-arrow-bottom("335D95");
            transition: 0.2s cubic-bezier(0.4, 0.25, 0.3, 1);
        }
        &-placeholder {
            height: var(--boxHeight);
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            border: 1px solid $border-gray;
            border-radius: 8px;
            transition: 0.3s ease-out;
        }
    }
    & > li {
        position: relative;
        font-size: 1em;
        &.select_items {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 2px;
            padding-top: var(--boxHeight);
            & > ul {
                position: relative;
                font-size: 1em;
                margin: 0;
                border-radius: 8px;
                &:has(input[type="radio"]:checked) {
                    overflow: unset;
                    max-height: unset;
                }
                & > li {
                    position: relative;
                    font-size: 1em;
                    & > label {
                        z-index: -1;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            input[type="radio"] {
                width: 0;
                height: var(--boxHeight);
                position: absolute;
                top: 0;
                right: 0;
                &:hover::after {
                    opacity: 1;
                }
                &:checked::after {
                    transform: scaleY(-1);
                }
                &:checked {
                    + .select_label {
                        width: 100%;
                        height: var(--boxHeight);
                        margin-top: calc(var(--boxHeight) * -1);
                        border-radius: 0.8rem;
                        background-color: $hover-bg-blue;
                        display: flex;
                        align-items: center;
                        border: 1px solid $hover-blue;
                        &::after {
                            display: inline-block;
                            rotate: 90deg;
                        }
                    }
                    + .select_closeLabel {
                        display: block;
                        + ul {
                            box-shadow: 2px 2px 3px 0 rgba(53, 45, 32, 0.15);
                            .select_label {
                                height: var(--boxHeight);
                                &:hover {
                                    background-color: $hover-bg-blue;
                                }
                            }
                        }
                        & > .select_expandLabel {
                            display: none;
                        }
                    }
                }
            }
        }
        .select_closeLabel {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
        }
        .select_expandLabel {
            display: block;
            width: 100%;
            font-size: 1em;
            height: var(--boxHeight);
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }
    &:hover {
        outline-color: $hover-blue;
        transition: 0.3s ease-out;
    }
}
/*================================
 セレクトボックス(UL>LI版)左寄せ
--------------------------------*/
@mixin list-select-left {
    // --boxHeight: 6rem;
    // width: 8.2em;
    --itemPaddingLeft: 1.4em;
    @include select-list-master;
    .select_label {
        padding-left: var(--itemPaddingLeft);
    }
    &:hover {
        outline-color: $hover-blue;
        transition: 0.3s ease-out;
    }
}

/*================================
 セレクトボックス(UL>LI版 中央寄せ)
--------------------------------*/
@mixin list-select-center {
    @include select-list-master;
    // --boxHeight: 6rem;
    // width: 8.2em;
    // --itemPaddingRight: 1.4em;
    .select_label {
        padding-right: var(--itemPaddingRight);
        text-align: center;
    }
    & > li {
        &.select_items {
            input[type="radio"] {
                &:checked {
                    + .select_label {
                        justify-content: center;
                    }
                }
            }
        }
    }
    &:hover {
        outline-color: $hover-blue;
        transition: 0.3s ease-out;
    }
}

/*================================
 日付選択
--------------------------------*/
@mixin box-input-period {
    width: 100%;
    font-size: 1.6rem;
    transition: 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-gray;
    border-radius: 0.4rem;
    letter-spacing: 0.08em;
    text-align: center;
    &:hover {
        background-color: $hover-bg-blue;
    }
    &:active {
        background-color: $hover-bg-blue;
    }
}
@mixin item-period {
    border: 1px solid $border-gray;
    border-radius: 0.8rem;
    font-size: 1em;
    padding: 4px;
    display: flex;
    gap: 0 0.3em;
    transition: 0.3s ease-out;
    width: 37rem;
    height: 4.4rem;
    input {
        @include box-input-period;
    }
    &:hover {
        border: 1px solid $hover-blue;
    }
    span {
        align-self: center;
    }
}
