/*===============================
    レイアウトmixin
===============================*/
@use "./_variable" as *;
@use "./_font" as *;
@use "./svg" as *;
@use "./mixin_decoration" as *;
/*================================
 メインコンテンツ白背景ボックス
--------------------------------*/
@mixin layout-inner-main {
    flex: 1;
    background-color: $main-orange;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #fff;
        margin: 2rem;
        border-radius: $radius40;
    }
}
