@use "../sass/svg" as *;
/*==========================================================
	管理画面用
==========================================================*/
// MAX-WIDTH宣言
$M-width: 1366;
$PcMaxWidth: calc($M-width * 1px);
$sectionWidth: 1206px;
// フォントサイズ(mx1000)
$max-font: 16;
$min-font: 12;
$sp-width: 375;
// 可変フォントサイズ計算
$tilt: calc(($max-font - $min-font) / ($M-width - $sp-width));
$slice: calc($min-font - ($tilt * $sp-width));
$base-vw: calc($tilt * 100);
// 指定フォント関数
@function FZ($size) {
    @if $size <=$min-font {
        @return $min-font * 1px;
    } @else {
        @return max(12px, ($size / $max-font) * 1em);
    }
}
/*==========  サイズ設定 END  =============================*/
// カラー設定
$BaseWhite: #f8f8f8;
$BaseBlack: #000000;
$main-orange: #f29400;
$confirm-blue: #395bbe;
$hover-blue: #77a1dd;

/* =================================
 *  サイズ変数
 * ------------------------------ */
$radius8: 0.5em;
$radius10: 0.625em;
$radius14: 0.875em;
$radius20: 1.25em;
$radius24: 1.5em;
$radius40: 2.5em;
$radius80: 5em;
@mixin top-radius($radius: $radius14) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin bottom-radius($radius: $radius14) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

/*==========================================================
	レスポンシブ設定
==========================================================*/
$tbw: 1194px;
$tb: 834px;
$spw: 928px;
$sp: 480px;
// PCサイズのみ
@mixin pc {
    @media (min-width: ($sp)) {
        @content;
    }
}
// タブレットサイズ横
@mixin tbw {
    @media (max-width: ($tbw)) and (orientation: landscape) {
        @content;
    }
}
// タブレットサイズ縦
@mixin tb {
    @media (max-width: ($tb)) and (orientation: portrait) {
        @content;
    }
}
// スマホサイズ横
@mixin spw {
    @media (max-width: ($spw)) and (orientation: landscape) {
        @content;
    }
}
// スマホサイズ縦
@mixin sp {
    @media (max-width: ($sp)) and (orientation: portrait) {
        @content;
    }
}
/*==========================================================
	ホバー処理
==========================================================*/
@mixin hover {
    @media (hover: hover) {
        &:where(:any-link, :enabled, summary):hover {
            @content;
        }
    }
}
