/*==========================================================
ログインページ
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
body {
    grid-template-columns: unset;
    grid-template-rows: unset;
    place-items: center;
    padding: 1.2rem;
    background-color: #f5f4ef;
    main {
        box-shadow: unset;
        align-self: stretch;
        border-style: solid;
        border-width: 1.2rem;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            border-radius: 2px;
            border-radius: 6px;
            border-style: solid;
            border-width: 0.8rem;
        }
        .wrap_logo {
            position: relative;
            // background-color: #0000ff;
            width: 20rem;
            aspect-ratio: 1;
            font-size: 1em;
            margin-bottom: 5em;
            img {
                position: absolute;
                inset: 0;
                margin: auto;
                font-size: 1em;
                width: 65%;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.8em 0;
            .wrap_input {
                font-size: 1em;
                position: relative;
                input[type="text"],
                input[type="password"] {
                    font-size: FZ(16);
                    width: 20em;
                    height: 4rem;
                }
                h2 {
                    position: absolute;
                    right: calc(100% + 0.8em);
                    top: 50%;
                    translate: 0 -50%;
                    font-size: FZ(16);
                    font-weight: 700;
                    width: max-content;
                }
            }
            .check {
                @include radioCheckSquareText;
                font-size: 1em;
                margin-top: 2em;
            }
            button {
                @include btnBlue;
                width: 15em;
                height: 2.5em;
                margin-top: 1em;
            }
        }
    }
}
