/*==========================================================
トップページ
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;

.contents-top {
    flex: 1;
    background-color: $main-orange;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
    }
    &::before {
        background-color: #fff;
        margin: 2rem;
        border-radius: $radius40;
    }
}
