/*==========================================================
事業所管理
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;
/*=================================
***明細一覧
=================================*/
.inner-06-01 {
    @include layout-inner-main-grid;
    .page-nav {
        @include container-left-menu;
    }
    .container-detail-list {
        @include layout-container-section;
        padding-bottom: 8rem;
        // 条件で検索
        .block-search {
            @include layout-block-search;
            .box-search-items {
                display: flex;
                flex-direction: column;
                li {
                    padding-inline: 2.4rem;
                }
                .item-name {
                    flex: 1;
                    padding-inline: 1.5em;
                    border-bottom: 1px solid $border-gray;
                    border-right: 1px solid $border-gray;
                }
                .item-application-date {
                    flex: 1;
                    .wrap-period {
                        // width: 37rem;
                        @include item-period;
                    }
                }
            }
            .box-btn {
                position: relative;
                display: flex;
                gap: 0 1em;
                font-size: inherit;
                padding-block: 1rem;
                align-self: flex-end;
                padding-right: 2.4rem;
                button {
                    font-size: FZ(14);
                    height: 36px;
                    width: 12rem;
                }
                .item-clear {
                    @include main-button("clear");
                }
                .item-search {
                    @include main-button("confirm");
                }
            }
        }
        // 絞り込み
        .block-filter {
            @include layout-block-search;
            .box-search-items {
                display: flex;
                .item-name {
                    flex: 1;
                    padding-inline: 1.5em;
                    border-right: 1px solid $border-gray;
                }
                .item-application-date {
                    padding-inline: 2em;
                    .wrap-period {
                        width: 37rem;
                        @include item-period;
                    }
                }
            }
            .box-btn {
                position: relative;
                display: flex;
                gap: 0 1em;
                font-size: inherit;
                padding-block: 1rem;
                align-self: flex-end;
                padding-right: 2.4rem;
                button {
                    font-size: FZ(14);
                    height: 36px;
                    width: 12rem;
                }
                .item-clear {
                    @include main-button("clear");
                }
            }
        }
        // 明細一覧
        .block-vendor-list {
            @include layout-block-article;
            .list-search-results {
                @include layout-table-list(auto 1fr auto auto, 4);
                margin-top: 1.4rem;

                .item-price,
                .item-name,
                .item-date {
                    padding-inline: 1em;
                    padding-block: 1.6rem;
                    font-size: FZ(14);
                }
                .item-name {
                    display: flex;
                    align-items: center;
                }
                .item-price,
                .item-date {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .item-plan {
                    padding-left: 1em;
                    padding-right: 3.4rem;
                    padding-block: 1.6rem;
                    font-size: inherit;
                    .head-item {
                        position: relative;
                        font-size: FZ(14);
                        display: inline-block;
                        width: 100%;
                        line-height: 1.6em;
                        .btn-arrow {
                            position: absolute;
                            left: calc(100% + 4px);
                            top: 0;
                            width: 2rem;
                            @include svg-icon-circle-arrow("403726");
                            scale: 1 -1;
                            transition: 0.3s ease-out;
                            &:hover {
                                background-color: $hover-bg-blue;
                                border-radius: 50%;
                            }
                        }
                    }
                    .inner-plan {
                        display: grid;
                        grid-template-rows: 0fr;
                        transition: 0.2s ease-out;
                        font-size: inherit;
                        .wrap-plan {
                            overflow: hidden;
                            position: relative;
                            font-size: inherit;
                            display: flex;
                            flex-direction: column;
                            span {
                                font-size: FZ(14);
                                line-height: 1.6em;
                            }
                        }
                        &.is-active {
                            pointer-events: auto;
                            grid-template-rows: 1fr;
                        }
                    }
                }
                .item-btn {
                    button {
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 24px;
                        aspect-ratio: 1;
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background-color: $hover-bg-blue;
                            transition: 0.3s ease-out;
                            border-radius: 50%;
                            opacity: 0;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            inset: 0;
                            margin: auto;
                            width: 7px;
                            @include svg-icon-download("403726");
                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
                & > li {
                    &:not(:first-of-type) {
                        cursor: auto;
                        &:hover {
                            &::before {
                                opacity: 0;
                            }
                        }
                        &:hover:not(:has(:is(button):hover)) {
                            &::before {
                                opacity: 1;
                            }
                        }
                        &:active {
                            &::before {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
            // マスター管理画面用
            &.status-master {
                .list-search-results {
                    @include layout-table-list(auto 1fr auto auto auto, 5);
                }
            }
        }
        // ページャー
        .box-pager {
            @include layout-pager;
        }
    }
    .bottom-box-btn {
        align-self: center;
        position: relative;
        font-size: inherit;
        margin-top: 2.4rem;
        display: flex;
        gap: 0 2.4rem;
        .item-back {
            @include main-button("back-orange");
            width: 16rem;
            height: 48px;
            font-size: FZ(14);
        }
    }
}
/*=================================
***請求書
=================================*/
.area-invoice {
    position: relative;
    width: 210mm;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-size: inherit;
    --main-gray: #5e5b5a;
    h2 {
        background-color: $main-orange;
        color: #fff;
        font-size: FZ(26);
        text-align: center;
        padding-block: 0.2em;
        font-weight: 700;
    }
    .block-head {
        position: relative;
        font-size: inherit;
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
        .box-left {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            h3 {
                font-size: FZ(20);
                font-weight: 600;
                margin-bottom: 0.8em;
                &::after {
                    content: "御中";
                    margin-left: 0.8em;
                }
            }
            .wrap-total-price {
                position: relative;
                border: 1px solid;
                margin-top: 0.8rem;
                margin-bottom: 0.5rem;
                display: flex;
                flex-direction: column;
                font-size: inherit;
                h4 {
                    padding: 0.5rem 1rem;
                    font-size: FZ(16);
                    font-weight: 600;
                    background-color: #d8d9d9;
                }
                p {
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                    font-size: FZ(16);
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                }
                .item-total-price {
                    display: flex;
                    justify-content: flex-end;
                    font-size: inherit;
                    padding: 1rem;
                    span {
                        font-size: FZ(24);
                        font-weight: 600;
                        &::before {
                            content: "¥";
                        }
                    }
                }
            }
            p {
                font-size: FZ(14);
            }
        }
        .box-right {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            dl {
                position: relative;
                display: grid;
                grid-template-columns: auto 1fr;
                font-size: inherit;
                div {
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: subgrid;
                    font-size: inherit;
                    gap: 0 3rem;
                    dt,
                    dd {
                        font-size: FZ(16);
                    }
                }
            }
            .wrap-shop-info {
                font-size: inherit;
                position: relative;
                margin-top: 4rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem 0;
                padding-right: 4rem;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 5rem;
                    right: 0;
                    width: 8rem;
                    background: url(../images/shaban.png) no-repeat center center / contain;
                    aspect-ratio: 1;
                }
                .item-logo {
                    width: 24rem;
                    margin-bottom: 1rem;
                }
                .item-name {
                    font-size: FZ(20);
                }
                address {
                    display: flex;
                    flex-direction: column;
                    font-size: inherit;
                    span {
                        font-size: FZ(16);
                    }
                }
            }
        }
    }
    .block-details {
        margin-top: 5rem;
        font-size: inherit;
        .box-title {
            color: #fff;
            border: 1px solid var(--main-gray);
            background-color: #4f5050;
            display: flex;
            justify-content: space-between;
            font-size: inherit;
            padding: 1rem;
            align-items: center;
            h4 {
                font-size: FZ(20);
                font-weight: 700;
            }
            p {
                font-size: FZ(16);
            }
        }
        ul {
            position: relative;
            font-size: inherit;
            border-left: 1px solid var(--main-gray);
            border-right: 1px solid var(--main-gray);
            display: grid;
            grid-template-columns: auto 1fr auto auto auto;
            li {
                grid-column: span 5;
                display: grid;
                grid-template-columns: subgrid;
                padding: 1rem;
                border-bottom: 1px solid var(--main-gray);
                font-size: inherit;
                & > div {
                    font-size: FZ(14);
                    text-align: center;
                    min-width: 10rem;
                    &.item-price {
                        text-align: right;
                        min-width: 6rem;
                    }
                }

                &:first-of-type {
                    background-color: #b5b5b6;
                }
                &:not(:first-of-type) {
                    background-color: #fff;
                    &:nth-of-type(2n - 1) {
                        background-color: #efefef;
                    }
                }
            }
        }
    }
    .block-bottom {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: inherit;
        p {
            font-size: FZ(18);
            align-self: center;
            font-weight: 600;
        }
        dl {
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            border-left: 1px solid var(--main-gray);
            border-right: 1px solid var(--main-gray);
            div {
                font-size: inherit;
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                border-bottom: 1px solid var(--main-gray);

                dt,
                dd {
                    font-size: FZ(14);
                    padding: 0.8rem 1rem;
                }
                dt {
                    border-right: 1px solid var(--main-gray);
                    background-color: #b5b5b6;
                    text-align: center;
                }
                dd {
                    text-align: right;
                    min-width: 14rem;
                }
            }
        }
    }
}
