/*==========================================================
事業所管理（求人カード）
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;
/*=================================
***求人カード
=================================*/
.inner-03-01-02 {
    @include layout-inner-main-grid;
    .page-nav {
        @include container-left-menu;
    }
    // 求人カード一覧
    .container-job-card {
        @include layout-container-section;
        padding-bottom: 8rem;
    }
    .bottom-box-btn {
        align-self: center;
        position: relative;
        font-size: inherit;
        margin-top: 3rem;
        .item-register {
            @include main-button("confirm");
            width: 20rem;
            height: 48px;
            span {
                position: relative;
                font-size: 1.6rem;
                padding-left: 1.6em;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    translate: 0 -50%;
                    width: 1.4rem;
                    @include svg-icon-plus("fff");
                }
            }
        }
    }
}
/*=================================
***事業者登録・修正・確認
=================================*/
